@charset 'UTF-8';

/* Todas demais mídias */

/* Typical Device Breakpoints

        ~ Fonte: W3C 2025 ~

Telas Pequenas : max 600px
Celular: min 600px - max 768px
Telas Médias (ex: tablets): min 768px - max 992px
PC, Telas Grandes: min 992px - max 1200px 
Telas Bem Grandes: min 1200px

como o negócio é mobile first, ignoro as telas menores na seleção
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
        header > img {
                display: inline;
        }

        header > h1 {
                display: inline-block;
                vertical-align: 25px;

                width: calc(100% - 92px);
                margin-right: 8px;

                text-align: end;
                font-weight: 900;
        }

        p {
                font-size: 1.1em;
        }

        div#regular-video {
                width: 100%;
                height: 385px;
            
                background-color: #483fff;
        }
            
        div#regular-video > iframe {
                display: block;
                margin: auto;
            
                height: 385px
        }
}

@media screen and (min-width: 992px) {
        section#inicial {
                display: flex;
                height: 300px;
                flex-flow: row wrap;
        }

        div#texto-and-botao {
                width: 800px;
        }

        div#lista {
                width: 400px;
        }

        p {
                font-size: 1.4em;
        }

        div#regular-video {
                width: 100%;
                height: 495px;
            
                background-color: #483fff;
        }
            
        div#regular-video > iframe {
                display: block;
                margin: auto;
            
                height: 495px
        }
}