@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes background-btn {
    0% {
        background-color: #483fff;
    }
    100% {
        background-color: #0d00ff;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    box-sizing: border-box;

    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0px;
    padding: 0px;
}

body {
    color: white;

    height: 100%;
}

header {
    width: 100%;
    height: 80px;
    background-color: black;

    position: fixed;
    top: 0px;
}

header > img {
    display: block;
    height: 100%;
    margin: auto;
}

header > h1 {
    display: none;
}

main {
    background-image: linear-gradient(to top left, #2d24d5, black);
    height: 100%;
    margin-top: 80px;
}

section#inicial {
    height: auto;

    margin-bottom: 40px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    animation: opacity 2s linear 0.3s 1 normal forwards;
}

h2 {
    font-weight: 900;
    font-size: 2.3em;
    text-align: center;

    padding-top: 20px;
}

span#cor-unica {
    color: #483fff;
}

p {
    text-align: justify;
    margin: 15px;
    font-size: 0.9em;

    display: inline-block;
}

a.botao {
    text-decoration: none;
    color: white;
    text-align: center;

    display: block;
    padding: 15px;
    margin: 15px auto;
    width: 130px;

    background-color: #483fff;
    border-radius: 8px;
}

a.botao:hover {
    animation: background-btn 2s ease-out 0.3s 1 normal forwards;
}

div#lista {
    display: block;
    margin: auto;
    padding: 15px 40px;

    width: 80%;

    background-color:#0e0d2a21;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.150);
}

li {
    margin-top: 5px;
}

div#regular-video {
    width: 100%;
    height: 240px;

    background-color: #483fff;

    animation: opacity 2s linear 0.3s 1 normal forwards;
}

div#regular-video > iframe {
    display: block;
    margin: auto;

    height: 240px;

    animation: opacity 2s linear 0.3s 1 normal forwards;
}

section#sessao-textual {
    margin-top: 20px;
    animation: opacity 8s linear 0.3s 1 normal forwards;
}